@media (max-width: 1549px) {
  .indicator {
    width: 450px;
  }

  .skill-side {
    .skill-header {
      font-size: 20px;
    }
  }

  .lang-side {
    .lang-header {
      h2 {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 1300px) {
  .head {
    padding: 50px 0px 50px 25px;
    
    h1 {
      font-size: 35px;
    }
  }
  .main-inf {
    flex-direction: column-reverse;
    

    img {
      width: 391px;
      height: 391px;
    }

    .text {
      width: 99%;
      align-items: center;
      text-align: center;
      gap: 20px;

      .header {
        font-size: 18px;
      }

      .name {
        font-size: 35px;
      }

      .info {
        font-size: 15px;
      }

      .btns {
        button {
          font-size: 15px;
          padding: 5px 20px 5px;
          border-radius: 15px;
        }
      }
    }
  }

  .main-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    img {
      display: none;
    }
  }

  .lang-side {
    width: 100%;
    
    .about {
      .text {
        width: 99%;
      }
    }
  }

  .skill-side{
    
    margin: 0px 0px 0px 5%;
  }

  .contact-icons {
    margin: 40px 62px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    .icons {
      p {
        font-size: 15px;
      }
      i {
        font-size: 35px;
      }
    }
  }
}


@media(max-width: 550px){



    .projects {
        .proj{
            h1{
                font-size: 20px;
            }
        }
    }

    .home {
        padding: 100px 0px 0px 0px;
    }

    .projects{
        padding: 0px;
    }

    .projects-img{
        width: 100%;
        
    }
    
    .main-inf{
        img{
            width: 291px;
            height: 291px;
        }
    }


}

@media(max-width: 480px){

    .projects {
        .proj{
            .projects-img{
                width: 250px;
                height: 100px;
            }
        }
    }

    .indicator{
        width: 100%;
    }

    .contact-icons{
        flex-direction: column;

        i {
            font-size: 25px;
          }
    }
}
